<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/top_rate.css">
    <link rel="stylesheet" href="/css/now_playing.css">
    <title>영화 정보 보기</title>
</head>

<body>
	<div>
		<h2><a href = "/UserJoinForm">회원가입</a></h2>
		<h2><a href = "/UserMypage">내정보</a></h2>
		<h2><a href = "/UserLoginForm">로그인</a></h2>
		<h2><a href = "">로그아웃</a></h2>
	</div>
	
	<form action = "" method = "get">
		<input type = "text" name ="movieSearch" id = "movieSearch">
		<button type = "submit" id = "movieSearch" name ="movieSearch">검색</button>
	</form>
	
	<div>	
		<h2><a href = "">리뷰 평점 순</a></h2>
	</div>
	
  	 <!-- 개봉중인 영화  -->
	 <div class="slider-container2">
  		 	<h1><a href = "">개봉중인 영화</a></h1>
		    <button id="prev-btn2" class="nav-btn2">&lt;</button> 
		  	  <div id="movie-list2"></div>
		    <button id="next-btn2" class="nav-btn2">&gt;</button> 
	 </div>
 	 <div id="loading-indicator2">데이터를 불러오는 중...</div>
     	<hr>
	  <!--역대 인기 영화 -->
	  <div class="slider-container">
	  		<h1><a href = "" >역대인기영화</a></h1>
		    <button id="prev-btn" class="nav-btn">&lt;</button> 
		    	<div id="movie-list"></div>
		    <button id="next-btn" class="nav-btn">&gt;</button> 
	  </div>
	  <div id="loading-indicator">데이터를 불러오는 중...</div>
  		<hr>
	 
 <!--영화 슬라이더 -->
 <script src="js/now_playing.js" type="module"></script>
 <script src="js/top_rate.js" type="module"></script>
 
</body>
</html>