<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/top_rate.css">
    <title>역대 영화 랭킹</title>
</head>
<body>

        <div class="slider-container">
		    <button id="prev-btn" class="nav-btn">&lt;</button> 
		    <div id="movie-list"></div>
		    <button id="next-btn" class="nav-btn">&gt;</button> 
		</div>
    	<div id="loading-indicator">역대 영화 인기 정보를 불러오는중</div>


<!-- 역대영화 인기정보.js-->
 <script src="/js/top_rate.js"></script>
</body>
</html>