<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
                  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인폼</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/user_login.css">
</head>
<body>
		<h1>로그인</h1>
			<form action = "/UserLogin" method = "post" id="loginForm">
			    <input type ="email" id="email" name="email" placeholder = "이메일을 입력해주세요.">
			    <span id="emailError" style="color: red; font-size: 0.8em;"></span><br> 
			
			    <input type = "password" name ="password" id="password"  placeholder = "비밀번호를 입력해주세요.">
			    <span id="passwordError" style="color: red; font-size: 0.8em;"></span><br> 
			    
			    <button type = "submit" >로그인</button>
			</form>
	<div class ="userIndex" sec:authorize="isAnonymous()">
	<a href = "/UserJoinForm" class="btn-join">회원가입</a> </div>

	<div th:insert="index/index :: footer"></div>

<!-- 유저 로그인.js -->
<script src="/js/user_login.js"></script>
</body>
</html>