body{
	margin:0;
	padding:0;
}

#indexMovieList{
	margin-top:80px;
}
#MovieList{
	margin-top:140px;
}

/* 메인 최신리뷰 카드 */
.review-container {
	  display: flex; /* 자식 요소를 가로로 나열 */
	  flex-wrap: wrap; /* 공간이 부족하면 다음 줄로 넘어가게 함 */
	  gap: 20px; /* 카드 사이의 간격 */
	  justify-content: center; /* 리뷰 카드를 가운데 정렬 (선택 사항) */
	  
}
.review-card {
  width: 250px;
  border: 1px solid #ddd; /* 10x를 1px로 수정 */
  border-radius: 12px;
  padding: 12px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  overflow: hidden; 
  height: 200px;          /* ⭐ 카드의 고정 높이 지정 (필요에 따라 조절) ⭐ */
  position: relative;
}

.review-card span , .review-card b{
  display: block;
  margin-bottom: 4px;
}

.review-card:hover{
	background-color: rgba(5,2,2,0.1);
	
}

/* index comment 넘침 방지  */
#comment {
  overflow: hidden;         
  text-overflow: ellipsis;  
  display: -webkit-box;    
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical; 
  color:gray;
}

/* 최신리뷰 카드 평점 오른쪽 상단 */
.rating{
	position: absolute; 
    top: 10px;          
    right: 10px;        
    margin: 0; 
    padding: 0;
    z-index: 10; 
}
#regdate{
	position: absolute; 
    bottom: 15px;          
    left: 20px;        
    margin: 0; 
    padding: 0;
    z-index: 10;
    font-size:13px;
    color: gray;
}

.review-card hr {
	position: absolute; 
    width: 100%; 
    bottom: 40px; /* 원하는 간격 (예: 카드 바닥에서 40px 위) */
    left: 0;      /* 왼쪽 끝에 붙여서 width: 100%가 제대로 작동하게 함 */
    height: 1px; 
    border: none;
    background-color: #ddd;
    margin: 0; 
    z-index: 5; 
}