#scrollToTopBtn {
	    /* 화면 오른쪽 아래에 고정 */
    position: fixed; 
    bottom: 50px; 
    right: 50px; 
    
   
   /* 버튼 모양 */
    z-index: 99;
    width:80px;
    height:80px;
    border: none; 
    outline: none; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    background-color:gray;
    font-size: 18px;
    opacity: 0.6; /* 투명도 */
    transition: opacity 0.3s; /* 마우스 호버 시 부드러운 전환 */
     
}

/* 마우스 올리면 더 진하게 */
#scrollToTopBtn:hover {
    opacity: 2;
    background-color: black;
}		