
.table thead {
  display: table;
  width: calc(100% - 15px); 
  table-layout: fixed; 
}

.table tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
  width: 100%; 
}

.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; 
}

.table tbody th {
  table-layout: fixed; 
}




.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
    width: 17%;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
    width: 17%;
}

.table thead th:nth-child(3),
.table tbody td:nth-child(3) {
    width: 20%; 
}
.table thead th:nth-child(4),
.table tbody td:nth-child(4) {
    width: 20%; 
}
.table thead th:nth-child(5),
.table tbody td:nth-child(5) {
    width: 20%;
}