<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/now_playing.css">
    <title>개봉중인 영화</title>
</head>
<body>

   	 <h1>개봉중인 영화</h1>
	 		<div class="slider-container2">
			    <button id="prev-btn2" class="nav-btn2">&lt;</button> 
			    <div id="movie-list2"></div>
			    <button id="next-btn2" class="nav-btn2">&gt;</button> 
			</div>
	    	<div id="loading-indicator2">데이터를 불러오는 중...</div>
	 <script src="js/now_playing.js"></script>
</body>
</html>